/*tlacidlo odstranit*/
button {
    font-family: monospace;
    background: tomato;
    border: none;
    text-align: center;
    margin-left: 15px;
}

button:hover {
    color:white;
}

.button {
    font-family: monospace;
    background: tomato;
    border: none;
   

}
.divInput{
    width: 200px;
    margin-top: 100px;
    margin-left: 30px;
    
}
.divTable{
    width: 600px;
    margin: 0 auto;
    margin-top: -230px;
}

table {
    font-family: monospace;
    text-align: left;
    font-size: 16px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

th, td {

 padding: 3px;
 padding-right: 22px;
}

body {
    background: gray;
}


th {
    border: solid 1px black;
}

td {
    border-bottom: solid 1px white;
}

input[type=text]{
    border-radius: 30px;
    border: solid 1px black;
    margin-top: 3px;
    
}
input[type=submit]{
    margin-top: 3px;
    font-family: monospace;
    background: green;
    border: none;
    text-align: center;
    width: 117.98px;
    height: 25.67px;
}

/*kalendar*/
input[type=submit]:hover {
    color:white;
}

input[type=date]{
    margin-top: 3px;
    border-radius: 30px;
    border: solid 1px black;
}


::-webkit-datetime-edit-text { color: red;}
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
